---
layout: default
---

<section id="intro" class="intro">
  <div class="container">
    <div class="portrait-div">
      <img class="portrait" src="{% base64 static/img/portrait.jpg %}">
    </div>
    <div class="blurb">
      <h1>Hi!</h1>
      <h2>I'm Aleks Kamko.</h2>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="section">
    <div class="container">
      <div class="blurb">I'm a developer and recent graduate living in the Bay Area.</div>
    </div>
  </div>
  <div class="console-section">
    <div class="console">
      <span class="gp">>>></span> <span class="kn">require</span> '<span class="nn">aboutme</span>';
      <br/><br/>
      {{ site.about | rubify }}
    </div>
  </div>
</section>

<section id="projects" class="projects">
  <div class="container">
    <div class="blurb">I like to build things. Here are some notable projects.</div>
    {% for project in site.projects %}
    {% capture parity %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="project">
      {% if parity == 'odd' %}
      <div class="project-img-div">
        <img src="{{ project.image | prepend: "static/img/" | prepend: site.baseurl}}">
      </div>
      <div class="table-spacer"></div>
      {% endif %}
      <div class="project-desc">
        <div class="project-name">
          <h1>
            {% if project.url %}<a href="{{ project.url }}">{% endif %}
            {{ project.name }}
            {% if project.url %}</a>{% endif %}
          </h1>
          {% if project.repo %}<a href="{{ project.repo }}">[repo]</a>{% endif %}
        </div>
        <p>{{ project.description | markdownify }}</p>
      </div>
      {% if parity == 'even' %}
      <div class="table-spacer"></div>
      <div class="project-img-div">
        <img src="{{ project.image | prepend: "static/img/" | prepend: site.baseurl}}">
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

<section id="resume" class="resume">
  <div class="container">
    <div class="blurb">Below is an HTML resume. You can also grab a <a href="{{ "alekskamko_resume.pdf" | prepend: site.baseurl }}">pdf</a> or <a href="{{ "alekskamko_resume.txt" | prepend: site.baseurl }}">plaintext</a> version.</div>
    {% for section in site.resume %}
    <div class="resume-section">
      <h2 class="section-title">{{ section[0] | capitalize }}</h2>
      {% for sub_section in section[1] %}
      <div class="resume-subsection">
        <div class="title-row">{% if sub_section.title_left %}<span class="title-left">{{ sub_section.title_left | markdownify | stripp }}</span>{% endif %}<span class="title-right">{% if sub_section.title_right %}{{ sub_section.title_right | markdownify | stripp }}{% endif %}</div>
        <div class="title-row">{% if sub_section.subtitle_left %}<span class="title-left">{{ sub_section.subtitle_left | markdownify | stripp }}</span>{% endif %}</div>
        {% if sub_section.info %}
        <ul>
          {% for item in sub_section.info %}
          <li>{{ item | markdownify | stripp }}</li>
          {% endfor %}
        </ul>
        {% elsif sub_section.list %}
        <ul>
          <li>{{ sub_section.list | join: ", " }}</li>
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    <div class="text-center"><a href="{{ "alekskamko_resume.pdf" | prepend: site.baseurl }}">(pdf)</a> <a href="{{ "alekskamko_resume.txt" | prepend: site.baseurl }}">(plaintext)</a></div>
  </div>
</section>
