---
layout: default
---

<section id="intro" class="intro">
  <div class="container">
    <div class="portrait-div">
      <img class="portrait" src="{{ "static/img/portrait.jpg" | prepend: site.baseurl }}">
    </div>
    <div class="blurb">
      <h1>Hi!</h1>
      <h2>I'm Aleks Kamko.</h2>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <div class="blurb">I'm a student and developer living in the Bay Area.</div>
    <div class="console">
      <span class="gp">>>></span> <span class="kn">from</span> <span class="nn">aboutme</span> <span class="kn">import</span><span class="o"> * </span>
      <br/><br/>

      {% for field in site.about %}
      <span class="gp">>>></span> {{field[0]}}
      <br/>
      {% assign type = field[1] | gettype %}
      {% if type == "Array" %}
      [{% for item in field[1] %}'<span class="s">{{ item | markdownify | stripp }}</span>'{% unless forloop.last %}, {% endunless %}{% endfor %}]
      {% elsif type == "Hash" %}
      {<br>{% for entry in field[1] %}<div class="indent">'<span class="s">{{ entry | first }}</span>': '<span class="s">{{ entry | last }}</span>'{% unless forloop.last %},{% endunless %}</div><br>{% endfor %}}
      {% else %}
      '<span class="s">{{ field[1] | markdownify | stripp }}</span>'
      {% endif %}
      {% unless forloop.last %}<br/><br/>{% endunless %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="projects" class="projects">
  <div class="container">
    <div class="blurb">I truly love side projects. Here are some interesting ones.</div>
    {% for project in site.projects %}
    {% capture parity %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="project">
      {% if parity == 'odd' %}
      <div class="project-img-div">
        <img src="{{ project.image | prepend: "static/img/" | prepend: site.baseurl}}">
      </div>
      <div class="table-spacer"></div>
      {% endif %}
      <div class="project-desc">
        <div class="project-name">
          <h1>
            {% if project.url %}<a href="{{ project.url }}">{% endif %}
            {{ project.name }}
            {% if project.url %}</a>{% endif %}
          </h1>
          {% if project.repo %}<a href="{{ project.repo }}">[repo]</a>{% endif %}
        </div>
        <p>{{ project.description | markdownify }}</p>
      </div>
      {% if parity == 'even' %}
      <div class="table-spacer"></div>
      <div class="project-img-div">
        <img src="{{ project.image | prepend: "static/img/" | prepend: site.baseurl}}">
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

<section id="resume" class="resume">
  <div class="container">
    <div class="blurb">Below is an expanded resume. You can grab a pdf <a href="{{ "alekskamko_resume.pdf" | prepend: site.baseurl }}">here</a>.</div>
    {% for section in site.resume %}
    <div class="resume-section">
      <h2 class="section-title">{{ section[0] | capitalize }}</h2>
      {% for sub_section in section[1] %}
      <div class="resume-subsection">
        <div class="title-row">{% if sub_section.title_left %}<span class="title-left">{{ sub_section.title_left | markdownify | stripp }}</span>{% endif %}<span class="title-right">{% if sub_section.title_right %}{{ sub_section.title_right | markdownify | stripp }}{% endif %}</div>
        <div class="title-row">{% if sub_section.subtitle_left %}<span class="title-left">{{ sub_section.subtitle_left | markdownify | stripp }}</span>{% endif %}</div>
        {% if sub_section.info %}
        <ul>
          {% for item in sub_section.info %}
          <li>{{ item | markdownify | stripp }}</li>
          {% endfor %}
        </ul>
        {% elsif sub_section.list %}
        <ul>
          <li>{{ sub_section.list | join: ", " }}</li>
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
