<footer>
  <div class="wrapper">
    <div class="table">
      <div class="footer-container">
        <div class="left">
          <div>&copy; 2015 Aleks Kamko</div>
          <div><a href="https://github.com/aykamko/aykamko.github.io">Repo for this website.</a></div>
        </div>
        <div class="right">
          <div>
            <a href="https://github.com/aykamko/">GitHub</a> &middot;
            <a href="http://www.linkedin.com/in/aykamko">LinkedIn</a> &middot;
            <a href="mailto:{{ site.email }}">Email</a>
          </div>
          <div>
            Credit to <a href="http://kalynnakano.com">Kalyn Nakano</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
