<script>
// Add cubic easing to animations (didn't want to import all of jQuery UI)
jQuery.extend( jQuery.easing, {
  easeInOutCubic: function (x, t, b, c, d) {
		if ((t/=d/2) < 1) return c/2*t*t*t + b;
		return c/2*((t-=2)*t*t + 2) + b;
	},
});

// Menu item click logic
var $nav_button_input = $('#nav-button-input');
var $html_body = $('html, body');
$('a[href*=#]').on('click', function(e) {
  var tag = $(this.getAttribute('href'));
  $nav_button_input.trigger('click');
  $html_body.animate({scrollTop: tag.offset().top}, 750, 'easeInOutCubic');
  return false;
});

// Make all anchors open new tabs
$('a').attr('target', '_blank');
</script>
