<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Facebook Open Graph -->
  <meta property="og:title" content="Aleks Kamko">
  <meta property="og:site_name" content="Aleks Kamko">
  <meta property="og:image" content="{{ "/static/img/portrait.jpg" | prepend: site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">

  <!-- Facicons and Apple -->
  <link rel="apple-touch-icon-precomposed" href="{{ "static/ico/apple-touch-icon-precomposed.png" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "static/ico/favicon.png" | prepend: site.baseurl }}">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ "static/css/main.css" | prepend: site.baseurl }}">

  <!-- no-js -->
  <script>document.documentElement.classList.remove('no-js');</script>
</head>
