<input id="nav-toggle" type="checkbox" value="selected"/>
<nav>
  <div class="nav-container">
    <div class="fade-in">
      <span class="brand"><a href="#intro">AK</a></span>
      <ul class="nav-list">
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#resume">Resume</a></li>
      </ul>
    </div>
  </div>
  <div class="nav-button-container">
    <div class="nav-button-div">
      <div class="nav-button">
        <div class="hbar"></div>
        <div class="hbar"></div>
        <div class="hbar"></div>
      </div>
    </div>
  </div>
</nav>
