html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Quattrocento Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 400;
  color: #111111;
  -webkit-text-size-adjust: 100%; }

a {
  color: #537ca0;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  max-width: 100%;
  vertical-align: middle; }

ul, ol {
  margin-left: 40px; }

li > ul, li > ol {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.1; }

h1 {
  font-size: 38px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

.nav-darken {
  position: fixed;
  background: black;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s; }
  .nav-darken.active {
    visibility: visible;
    opacity: 0.3; }

.section, .intro, .about, .projects, .resume {
  width: 100%;
  padding: 50px 8px; }

.container {
  max-width: 800px;
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.intro {
  background: #444c6b; }
  .intro .portrait {
    max-width: 480px;
    padding-right: 40px;
    float: left;
    border-radius: 50%; }
  .intro .blurb {
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    color: white; }
    .intro .blurb h1 {
      font-size: 70px;
      text-indent: -3px; }
    .intro .blurb h2 {
      font-size: 43px; }

.about {
  background: #8690b8; }
  .about .blurb {
    text-align: center;
    color: white;
    margin-bottom: 40px; }
  .about .console {
    padding: 35px;
    border-top: 20px solid #e5e5e5;
    border-radius: 4px;
    font-family: Monaco, monospace;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 1.7; }
    @media screen and (max-width: 600px) {
      .about .console {
        padding: 5.99315%; } }
    .about .console > .indent {
      display: inline-block;
      padding-left: 32px;
      text-indent: -16px; }

.projects {
  background: #d3dcff; }
  .projects .blurb {
    text-align: center;
    margin-bottom: 40px; }
  .projects .project:after {
    content: "";
    display: table;
    clear: both; }
  .projects .project:not(:last-child) {
    margin-bottom: 40px; }
  .projects .project .project-desc {
    height: 350px;
    display: table-cell;
    vertical-align: middle; }
  .projects .project .project-img-div {
    width: 350px;
    border: 8px solid #81a2be;
    border-radius: 50%; }
    .projects .project .project-img-div > img {
      border-radius: 50%;
      width: 334px; }
  .projects .project:nth-child(even) .project-img-div {
    float: left;
    margin-right: 40px; }
  .projects .project:nth-child(odd) .project-img-div {
    float: right;
    margin-left: 40px; }

.resume {
  background: #edf0ff; }
  .resume .blurb {
    text-align: center;
    margin-bottom: 40px; }
  .resume .resume-section:not(:last-child) {
    margin-bottom: 40px; }
  .resume .resume-section .section-title {
    border-bottom: 1px solid #537ca0;
    margin: 20px 0; }
  .resume .resume-section .resume-subsection:not(:last-child) {
    margin-bottom: 20px; }
  .resume .resume-section .resume-subsection .title-row:after {
    content: "";
    display: table;
    clear: both; }
  .resume .resume-section .resume-subsection .title-row .title-left {
    font-weight: 700; }
  .resume .resume-section .resume-subsection .title-row .title-right {
    float: right; }
  .resume .resume-section .resume-subsection > ul {
    list-style-type: circle; }

nav {
  position: fixed;
  width: 100%;
  z-index: 100; }
  nav .nav-container {
    width: 100%; }
    nav .nav-container .nav-button-div {
      background: #70b2a0;
      width: 47px;
      position: absolute;
      top: 14px;
      right: 14px;
      border-radius: 50%;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      nav .nav-container .nav-button-div .nav-button {
        display: block;
        cursor: pointer;
        font-size: 28px;
        position: relative;
        z-index: 1;
        transition: transform 0.25s;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        nav .nav-container .nav-button-div .nav-button.active {
          transform: rotate(90deg);
          transition: transform 0.5s; }
  nav .nav {
    position: fixed;
    overflow: hidden;
    right: 0;
    height: 100%;
    width: 300px;
    transition: all 0.5s;
    visibility: hidden; }
    nav .nav .nav-list {
      margin-top: 75px;
      transition: all 0.25s;
      opacity: 0;
      line-height: 3; }
      nav .nav .nav-list > span {
        display: block; }
      nav .nav .nav-list > li > a {
        color: black; }
    nav .nav:before {
      z-index: -1;
      width: 47px;
      height: 47px;
      position: absolute;
      top: 14px;
      right: 14px;
      background: #70b2a0;
      content: "";
      border-radius: 50%;
      -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    nav .nav.active {
      transition: all 0.5s;
      display: block;
      visibility: visible; }
      nav .nav.active .nav-list {
        transform: translateX(5px);
        transition: all 0.5s;
        opacity: 1; }
      nav .nav.active:before {
        height: 4000px;
        width: 4000px;
        border-radius: 50%;
        margin-right: -2000px;
        margin-top: -2000px;
        -webkit-transition: all 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 1.2s cubic-bezier(0.215, 0.61, 0.355, 1); }

footer {
  background: white;
  font-size: 14px;
  height: 100px;
  width: 800px;
  display: table;
  margin: 0 auto; }
  footer .container {
    padding: 0 8px;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    footer .container .left {
      float: left; }
    footer .container .right {
      float: right; }

/**
 * Syntax highlighting styles
 * tomorrow-pygments by MozMorris 
 * https://github.com/MozMorris/tomorrow-pygments
 */
.highlight, .about .console {
  background: #1d1f21;
  color: #c5c8c6;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .hll, .about .console .hll {
    background-color: #373b41; }
  .highlight .c, .about .console .c {
    color: #969896; }
  .highlight .err, .about .console .err {
    color: #cc6666; }
  .highlight .k, .about .console .k {
    color: #b294bb; }
  .highlight .l, .about .console .l {
    color: #de935f; }
  .highlight .n, .about .console .n {
    color: #c5c8c6; }
  .highlight .o, .about .console .o {
    color: #8abeb7; }
  .highlight .p, .about .console .p {
    color: #c5c8c6; }
  .highlight .cm, .about .console .cm {
    color: #969896; }
  .highlight .cp, .about .console .cp {
    color: #969896; }
  .highlight .c1, .about .console .c1 {
    color: #969896; }
  .highlight .cs, .about .console .cs {
    color: #969896; }
  .highlight .gd, .about .console .gd {
    color: #cc6666; }
  .highlight .ge, .about .console .ge {
    font-style: italic; }
  .highlight .gh, .about .console .gh {
    color: #c5c8c6;
    font-weight: bold; }
  .highlight .gi, .about .console .gi {
    color: #b5bd68; }
  .highlight .gp, .about .console .gp {
    color: #969896;
    font-weight: bold; }
  .highlight .gs, .about .console .gs {
    font-weight: bold; }
  .highlight .gu, .about .console .gu {
    color: #8abeb7;
    font-weight: bold; }
  .highlight .kc, .about .console .kc {
    color: #b294bb; }
  .highlight .kd, .about .console .kd {
    color: #b294bb; }
  .highlight .kn, .about .console .kn {
    color: #8abeb7; }
  .highlight .kp, .about .console .kp {
    color: #b294bb; }
  .highlight .kr, .about .console .kr {
    color: #b294bb; }
  .highlight .kt, .about .console .kt {
    color: #f0c674; }
  .highlight .ld, .about .console .ld {
    color: #b5bd68; }
  .highlight .m, .about .console .m {
    color: #de935f; }
  .highlight .s, .about .console .s {
    color: #b5bd68; }
  .highlight .na, .about .console .na {
    color: #81a2be; }
  .highlight .nb, .about .console .nb {
    color: #c5c8c6; }
  .highlight .nc, .about .console .nc {
    color: #f0c674; }
  .highlight .no, .about .console .no {
    color: #cc6666; }
  .highlight .nd, .about .console .nd {
    color: #8abeb7; }
  .highlight .ni, .about .console .ni {
    color: #c5c8c6; }
  .highlight .ne, .about .console .ne {
    color: #cc6666; }
  .highlight .nf, .about .console .nf {
    color: #81a2be; }
  .highlight .nl, .about .console .nl {
    color: #c5c8c6; }
  .highlight .nn, .about .console .nn {
    color: #f0c674; }
  .highlight .nx, .about .console .nx {
    color: #81a2be; }
  .highlight .py, .about .console .py {
    color: #c5c8c6; }
  .highlight .nt, .about .console .nt {
    color: #8abeb7; }
  .highlight .nv, .about .console .nv {
    color: #cc6666; }
  .highlight .ow, .about .console .ow {
    color: #8abeb7; }
  .highlight .w, .about .console .w {
    color: #c5c8c6; }
  .highlight .mf, .about .console .mf {
    color: #de935f; }
  .highlight .mh, .about .console .mh {
    color: #de935f; }
  .highlight .mi, .about .console .mi {
    color: #de935f; }
  .highlight .mo, .about .console .mo {
    color: #de935f; }
  .highlight .sb, .about .console .sb {
    color: #b5bd68; }
  .highlight .sc, .about .console .sc {
    color: #c5c8c6; }
  .highlight .sd, .about .console .sd {
    color: #969896; }
  .highlight .s2, .about .console .s2 {
    color: #b5bd68; }
  .highlight .se, .about .console .se {
    color: #de935f; }
  .highlight .sh, .about .console .sh {
    color: #b5bd68; }
  .highlight .si, .about .console .si {
    color: #de935f; }
  .highlight .sx, .about .console .sx {
    color: #b5bd68; }
  .highlight .sr, .about .console .sr {
    color: #b5bd68; }
  .highlight .s1, .about .console .s1 {
    color: #b5bd68; }
  .highlight .ss, .about .console .ss {
    color: #b5bd68; }
  .highlight .bp, .about .console .bp {
    color: #c5c8c6; }
  .highlight .vc, .about .console .vc {
    color: #cc6666; }
  .highlight .vg, .about .console .vg {
    color: #cc6666; }
  .highlight .vi, .about .console .vi {
    color: #cc6666; }
  .highlight .il, .about .console .il {
    color: #de935f; }
