nav {
    position: fixed;
    width: 100%;
    z-index: 1;

    .nav-button-container {
        width: 100%;

        .nav-button-div {
            background: $nav-bg-color;
            width: $nav-button-div-size;
            height: $nav-button-div-size;
            position: absolute;
            top: ($nav-height / 2) - ($nav-button-div-size / 2);
            right: ($nav-height / 2) - ($nav-button-div-size / 2);
            border-radius: 50%;
            display: table;

            .nav-button {
                display: table-cell;
                vertical-align: middle;
                font-size: 28px;
                position: relative;
                @include no-highlight;
                @include transition(all 0.25s);

                .hbar {
                    background: $text-color;
                    width: 20px;
                    height: 3px;
                    margin: 0 auto;

                    &:not(:last-child) {
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }

    .nav-container {
        position: fixed;
        overflow: hidden;
        right: 0;
        height: 100%;
        width: 300px;
        @include transition(all 0.5s);
        visibility: hidden;
        font-size: $large-font-size;

        a {
            color: black;
            text-decoration: none;
        }

        .fade-in {
            position: relative;
            @include transition(all 0.25s);
            opacity: 0;
        }

        .nav-list {
            margin-left: $spacing-unit;
            margin-top: $nav-height;
            line-height: 3;
        }

        .brand {
            position: relative;
            top: ($nav-height / 2) - 24px;
            left: $spacing-unit;
            > a {
                font-size: 28px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: white;
            }
        }
        
        &:before {
            z-index: -1;
            width: $nav-button-div-size;
            height: $nav-button-div-size;
            position: absolute;
            top: ($nav-height / 2) - ($nav-button-div-size / 2);
            right: ($nav-height / 2) - ($nav-button-div-size / 2);
            background: $nav-bg-color;
            content: "";
            border-radius: 50%;
            @include transition(all 600ms cubic-bezier(0.215, 0.61, 0.355, 1));
        }
    }
}
#nav-toggle {
    z-index: 2;
    width: $nav-button-div-size;
    height: $nav-button-div-size;
    position: fixed;
    top: ($nav-height / 2) - ($nav-button-div-size / 2);
    right: ($nav-height / 2) - ($nav-button-div-size / 2);
    cursor: pointer;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    opacity: 0;

    &:checked {
        & + nav {
            .nav-container {
                @include transition(all 0.5s);
                display: block;
                visibility: visible;

                .fade-in {
                    @include transition(all 0.5s);
                    @include transform(translateX(5px));
                    opacity: 1;
                }

                &:before {
                    height: 4000px;
                    width: 4000px;
                    border-radius: 50%;
                    margin-right: -2000px;
                    margin-top: -2000px;
                    @include transition(all 1.2s cubic-bezier(0.215, 0.61, 0.355, 1));
                }
            }

            .nav-button-container {
                .nav-button-div .nav-button {
                    @include transition(all 0.5s);
                    @include transform(rotate(90deg));
                }
            }
        }
        & ~ .page-content {
            &:before {
                visibility: visible;
                opacity: 0.3;
            }
        }
    }
}

footer {
    background: $footer-bg-color;
    font-size: $tiny-font-size;
    height: $footer-height;
    @extend .section;
    padding-top: 0;
    padding-bottom: 0;

    .wrapper {
        height: 100%;
        max-width: $content-width;
        margin: 0 auto;

        .table {
            display: table;
            height: 100%;
            width: 100%;

            .footer-container {
                height: $footer-height;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                @include clearfix;

                .left {
                    float: left;
                }
                .right {
                    float: right;
                    text-align: right;
                }
            }
        }
    }
}
