nav {
    position: fixed;
    width: 100%;
    z-index: 100;

    .nav-container {
        width: 100%;

        .nav-button-div {
            background: $nav-bg-color;
            width: $nav-button-div-size;
            position: absolute;
            top: ($nav-height / 2) - ($nav-button-div-size / 2);
            right: ($nav-height / 2) - ($nav-button-div-size / 2);
            border-radius: 50%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            .nav-button {
                display: block;
                cursor: pointer;
                font-size: 28px;
                position: relative;
                z-index: 1;
                @include transition(all 0.25s);
                @include no-highlight;

                &.active {
                    @include transform(rotate(90deg));
                    @include transition(all 0.5s);
                }
            }
        }
    }

    .nav {
        position: fixed;
        overflow: hidden;
        right: 0;
        height: 100%;
        width: 300px;
        @include transition(all 0.5s);
        visibility: hidden;

        .nav-list {
            margin-top: $nav-height;
            @include transition(all 0.25s);
            opacity: 0;
            line-height: 3;
            > span {
                display: block;
            }
            > li > a {
                color: black;
            }
        }
        
        &:before {
            z-index: -1;
            width: $nav-button-div-size;
            height: $nav-button-div-size;
            position: absolute;
            top: ($nav-height / 2) - ($nav-button-div-size / 2);
            right: ($nav-height / 2) - ($nav-button-div-size / 2);
            background: $nav-bg-color;
            content: "";
            border-radius: 50%;
            @include transition(all 600ms cubic-bezier(0.215, 0.61, 0.355, 1));
        }

        &.active {
            @include transition(all 0.5s);
            display: block;
            visibility: visible;

            .nav-list {
                @include transform(translateX(5px));
                @include transition(all 0.5s);
                opacity: 1;
            }

            &:before {
                height: 4000px;
                width: 4000px;
                border-radius: 50%;
                margin-right: -2000px;
                margin-top: -2000px;
                @include transition(all 1.2s cubic-bezier(0.215, 0.61, 0.355, 1));
            }
        }
    }
}

footer {
    background: $footer-bg-color;
    font-size: $tiny-font-size;
    height: $footer-height;
    width: $content-width;
    display: table;
    margin: 0 auto;

    .container {
        padding: 0 $small-side-padding;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
}
