.section {
    width: 100%;
    padding: $section-padding $side-padding;
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    @include clearfix;
}

.intro {
    @extend .section;
    background: $intro-bg-color;

    .portrait {
        max-width: 400px + ($spacing-unit * 2);
        padding-right: $spacing-unit;
        float: left;
        border-radius: 50%;
    }

    .blurb {
        height: 400px;
        display: table-cell;
        vertical-align: middle;
        color: white;

        h1 { 
            font-size: 70px; 
            text-indent: -3px;
        }
        h2 { 
            font-size: 43px; 
        }
    }
}

.about {
    @extend .section;
    background: $about-bg-color;

    .blurb {
        text-align: center;
        color: white;
        @include vertical-spacer;
    }

    .console {
        @extend .highlight;
        $console-padding: 35px;
        padding: $console-padding;
        border-top: 20px solid #e5e5e5;
        border-radius: 4px;
        font-family: $code-font-family;
        font-size: $code-font-size;
        letter-spacing: $code-letter-spacing;
        line-height: $code-line-height;

        @include media-query($on-mobile) {
            padding: strip-units((($console-padding * 2) / ($on-mobile - (2 * $side-padding))) / 2) * 100%;
        }

        > .indent {
            display: inline-block;
            padding-left: 32px;
            text-indent: -16px;
        }
    }
}

.projects {
    @extend .section;
    background: $projects-bg-color;

    .blurb {
        text-align: center;
        @include vertical-spacer;
    }

    .project {
        @include clearfix;
        &:not(:last-child) {
            @include vertical-spacer;
        }

        .project-desc {
            height: 350px;
            display: table-cell;
            vertical-align: middle;
        }

        .project-img-div {
            $project-img-div-width: 350px;
            width: $project-img-div-width;
            border: $side-padding solid $link-color-light;
            border-radius: 50%;

            > img {
                border-radius: 50%;
                width: $project-img-div-width - (2 * $side-padding);
            }
        }

        &:nth-child(even) {
            .project-img-div {
                float: left;
                margin-right: $spacing-unit;
            }
        }
        &:nth-child(odd) {
            .project-img-div {
                float: right;
                margin-left: $spacing-unit;
            }
        }
    }
}

.resume {
    @extend .section;
    background: $resume-bg-color;

    .blurb {
        text-align: center;
        @include vertical-spacer;
    }

    .resume-section {
        &:not(:last-child) {
            @include vertical-spacer;
        }

        .section-title {
            border-bottom: 1px solid $link-color;
            margin: ($spacing-unit / 2) 0;
        }

        .resume-subsection {
            &:not(:last-child) {
                margin-bottom: $spacing-unit / 2;
            }

            .title-row {
                @include clearfix;

                .title-left {
                    font-weight: 700;
                }
                .title-right {
                    float: right;
                }
            }

            > ul {
                list-style-type: circle;
            }
        }
    }
}
