.section {
    width: 100%;
    padding: $section-padding $base-side-padding;
    @include media-query($on-mobile) {
        $scaling-padding: strip-units($base-side-padding / $on-mobile) * 100%;
        padding-left: $scaling-padding;
        padding-right: $scaling-padding;
    }
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    @include clearfix;
}

.intro {
    @extend .section;
    background: $intro-bg-color;

    .container {
        $portrait-size: 346px;
        max-width: $portrait-size + $spacing-unit + 267px;

        .portrait-div {
            width: $portrait-size;
            height: $portrait-size;
            margin-right: $spacing-unit;
            float: left;
            @include media-query($on-tablet) {
                width: inherit;
                height: inherit;
                max-width: $portrait-size;
                padding: 0 $small-side-padding;
                margin: 0 auto;
                margin-bottom: $spacing-unit;
                float: none;
            }

            .portrait {
                border-radius: 50%;
            }
        }

        .blurb {
            height: $portrait-size;
            display: table-cell;
            vertical-align: middle;

            h1 { 
                font-size: 80px; 
                text-indent: -4px;
            }
            h2 { 
                font-size: 36px; 
            }

            @include media-query($on-tablet) {
                display: block;
                height: inherit;
                text-align: center;

                h1, h2 { 
                    display: inline-block;
                    font-size: 36px; 
                }
            }
        }
    }
}

.about {
    background: $about-bg-color;
    padding: $section-padding 0;

    .section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .blurb {
        text-align: center;
        color: white;
        @include vertical-spacer;
    }

    .console-section {
        width: 100%;
        padding: 0 $small-side-padding;

        .console {
            @extend .highlight;
            @extend .container;
            $console-padding: 35px;
            padding: $console-padding;
            border-top: 20px solid #e5e5e5;
            border-radius: 4px;
            font-family: $code-font-family;
            font-size: $code-font-size;
            letter-spacing: $code-letter-spacing;
            line-height: $code-line-height;

            @include media-query($on-mobile) {
                padding: strip-units($console-padding / ($on-mobile - (2 * $base-side-padding))) * 100%;
            }

            > .indent {
                display: inline-block;
                padding-left: 32px;
                text-indent: -16px;
            }
        }
    }
}

.projects {
    @extend .section;
    background: $projects-bg-color;

    .blurb {
        text-align: center;
        @include vertical-spacer;
    }

    .project {
        display: table;
        @include clearfix;
        &:not(:last-child) {
            @include vertical-spacer;
        }

        .project-desc {
            .project-name {
                > * { display: inline-block; }
            }
            display: table-cell;
            vertical-align: middle;
            @include media-query($on-tablet) {
                display: table-footer-group;
            }
        }

        .table-spacer {
            width: $spacing-unit;
            @include media-query($on-tablet) {
                display: none;
            }
        }

        .project-img-div {
            $project-img-div-width: 350px;
            max-width: $project-img-div-width;
            border-radius: 50%;
            @include min-media-query($on-tablet + 1px) {
                width: $project-img-div-width;
                display: table-cell;
                vertical-align: middle;
            }
            @include media-query($on-tablet) {
                padding: 0 $small-side-padding;
                margin: 0 auto;
                margin-bottom: $small-side-padding;
            }

            > img {
                background: white;
                border-radius: 50%;
                width: $project-img-div-width;
            }
        }
    }
}

.resume {
    @extend .section;
    background: $resume-bg-color;

    .blurb {
        text-align: center;
        @include vertical-spacer;
    }

    .resume-section {
        &:not(:last-child) {
            @include vertical-spacer;
        }

        .section-title {
            border-bottom: 1px solid $link-color;
            margin: ($spacing-unit / 2) 0;
        }

        .resume-subsection {
            &:not(:last-child) {
                margin-bottom: $spacing-unit / 2;
            }

            .title-row {
                @include clearfix;
                line-height: 1.3;
                padding-left: 26px;
                text-indent: -26px;
                padding-bottom: 8px;

                .title-left {
                    font-weight: 700;
                }
                .title-right {
                    float: right;
                    @include media-query($on-mobile) {
                        display: none;
                    }
                }
            }

            > ul {
                list-style-type: circle;
            }
        }
    }
}
