$base-font-family:          'Quattrocento Sans', Helvetica, Arial, sans-serif;
$base-font-size:            18px;
$small-font-size:           $base-font-size * 0.875;
$base-line-height:          1;
$text-color:                #111111;
$link-color:                #81a2be;

$section-padding:           50px;
$side-padding:              8px;
$spacing-unit:              40px;

$grey-color:                #828282;
$grey-color-light:          lighten($grey-color, 40%);
$grey-color-dark:           darken($grey-color, 25%);

$code-font-family:          Monaco, monospace;
$code-font-size:            13px;
$code-letter-spacing:       0.2px;
$code-line-height:          1.7;

$pantone-purple-impression: #8690b8;

$content-width:             800px;

$on-mobile:                 600px;
