$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$code-font:        Monaco, serif;
$code-bg-color:    #1d1f21;
$code-text:        #c5c8c6;

$pantone-gossamer-green:      #afd0be;
$pantone-purple-impression:   #8690b8;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
