<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>

        <!-- Mobile Nav -->
        {% include mobile-nav.html %}

        <!-- Header -->
        {% include pic-header.html %}

        <!-- Nav Bar -->
        {% include nav-bar.html %}

        <div class="container-content {{page.slug}}-page">
            {{ content }}
        </div>

        <!-- Google Analytics -->
        {% include google_analytics.html %}

        <!-- Footer -->
        {% include footer.html %}

        <!-- Goodies -->
        {% include goodies.html %}

    </body>
</html>
