<div id="topNav">
  <nav class="main-nav">
    <ul>
      <li>
        <a class="{% if page.slug == "about" %}active{% endif %}" href="{{ page.base_url }}">About</a>
      </li>
      <li class="middot"> &middot; </li>
      <li>
        <a class="{% if page.slug == "projects" %}active{% endif %}" href="{{ page.base_url }}projects">Projects</a>
      </li>
      <li class="middot"> &middot; </li>
      <li>
        <a class="{% if page.slug == "resume" %}active{% endif %}" href="{{ page.base_url }}resume">Resume</a>
      </li>
      <li class="middot"> &middot; </li>
      <li>
        <a class="{% if page.slug == "blog" %}active{% endif %}" href="{{ page.base_url }}blog">Blog</a>
      </li>
	  </ul>
	  <div class="page-divider"></div>
  </nav>
</div>